body {
    font-family: Arial, sans-serif;
    padding: 20px;
    
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  form {
    margin-bottom: 20px;
    background-color: lavender;
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
  }
  h2 {
    font-style: italic;
  }